body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1 h2 h3 {
  margin: 0 0 0 0;
}

p {
  margin: 0 0 0 0;
}

ul {
  list-style-type: none;
  margin: 0 0 0 0;
  padding-left: 0;
}

img {
  display: block;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  padding: 24px 0;
}

.header .container {
  display: flex;
  align-items: baseline;
}

.header .container .nav {
  display: flex;
  gap: 76px;
}

.navigation-list {
  display: flex;
  gap: 40px;
  padding-right: 332px;
}

.navigation {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
}

.navigation:hover,
.navigation:focus {
  color: #404bbf;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  font-weight: 700;
}

.span-logo-header {
  color: #2e2f42;
}

.contacts-title {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.section-main {
  background-color: #2e2f42;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
  padding-left: 472px;
  padding-right: 472px;
}

.button {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: flex;
  padding: 16px 32px;
  border-radius: 4px;
  gap: 10px;
  margin-left: 495px;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.about-us-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.about-us-list {
  display: flex;
  gap: 24px;
}

.advantages-name {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #2e2f42;
}

.advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-our-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  gap: 24px;
  border-radius: 0 0 4px 4px;
}

.profession-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 3);
}

.name {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  font-weight: 500;
  margin-top: 32px;
}

.profession {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-top: 8px;
  margin-bottom: 32px;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.portfolio-item {
  border: 1px solid #e7e9fc;
  margin-bottom: 48px;
  width: calc((100% - 72px) / 3);
}

.portfolio-name {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #2e2f42;
  margin-top: 32px;
  margin-left: 16px;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-left: 16px;
  margin-bottom: 32px;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding-bottom: 100px;
  padding-right: 860px;
}

.footer {
  background-color: #2e2f42;
}

.footer .logo {
  display: flex;
  margin-bottom: 16px;
  padding-top: 100px;
}

.span-logo-footer {
  color: #f4f4fd;
}
